{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block body_class %}login-page{% endblock %}
{% block content %}
<div style="background-image: url('static/images/log.jpg');background-repeat: no-repeat;
background-size: contain; background-size: cover;">
<br>
    <h1 style="color:rgba(41, 40, 40, 0.914) ;margin-top: 70px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    ;" class="heading">Incorrect Login Credentials</h1>
    
<div>
    <p  style="color:aliceblue ;background-color: rgba(12, 7, 8, 0.601);">Proceed to Login <a href="/login">Register</a></p>
    <p  style="color:aliceblue ;background-color: rgba(12, 7, 8, 0.601);">Don't have an account? <a href="/register">Register</a></p>
    <p  style="color:aliceblue ;background-color: rgba(12, 7, 8, 0.601);">Or Login with Gmail <a href="/gmaillogin">Gmail</a></p>
</div>
  


<pre>





















    

        
    </pre>
{% endblock %}
